[submodule "Forecasting app - AI GEN"]
	path = Forecasting app - AI GEN
	url = https://github.com/c2kg2n8v9h-arch/SPM-forecasting.git
[submodule "Game Developer"]
	path = Game Developer
	url = https://github.com/c2kg2n8v9h-arch/Game-Developer.git
